body{
  /* pc 992px */
  font:blue 24px 'Monaco'
} 
  @media screen and (max-width:991px) and (min-width:768px){
    h1 {
      background: blue;
    }

    p {
      background: blue;
    }
  }
  @media screen and (min-width:992px){
    h1{
      background: red;
    }
    p{
      background: red;
    }
  }
  @media screen and (max-width:767px){
    h1 {
      background: purple;
    }

    p {
      background: purple;
    }
    
  }
